html
  head
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script.
      window.onload = function() {
        var socket = io.connect("http://localhost:8080");
        socket.emit('join', {room : '/#{conference_id}/#{track_id}/#{session_id}'});
        var btn1 = document.querySelector("#btn1");
        btn1.addEventListener("click", function() {
          // console.log('send message');
          socket.emit("fromClient", {
            conference_id : #{conference_id},
            track_id : #{track_id},
            session_id : #{session_id},
            msg: "hello world",
            time : new Date()
          });
        });

        var btn2 = document.querySelector("#btn2");
        btn2.addEventListener("click", function() {
          socket.emit("showMessage");
        });

        socket.on("fromServer", function (data) {
          console.log('received from server' + data.msg + ' at ' + data.time);
        });
      };

  body
    div
      .btn_container
        button#btn1 Send to Server
        button#btn2 Show mongo DB Messages